[submodule "lib/sdl3"]
	path = lib/sdl3
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/sdl-mixer"]
	path = lib/sdl-mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "lib/sdl-image"]
	path = lib/sdl-image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "lib/minimp3"]
	path = lib/minimp3
	url = https://github.com/lieff/minimp3.git
[submodule "lib/sdl-ttf"]
	path = lib/sdl-ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "lib/tracy"]
	path = lib/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
