[submodule "lib/sdl3"]
	path = lib/sdl3
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/sdl-mixer"]
	path = lib/sdl-mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "lib/sdl-image"]
	path = lib/sdl-image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "lib/tracy"]
	path = lib/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/elzip"]
	path = lib/elzip
	url = https://github.com/toodemhard/11Zip.git
